<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Step</th>
      <th>C</th>
      <th>C type</th>
      <th>C order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.step_id %></td>
        <td><%= card.c_id %></td>
        <td><%= card.c_type %></td>
        <td><%= card.c_order %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
