<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @card.step_id %>
</p>

<p>
  <strong>C:</strong>
  <%= @card.c_id %>
</p>

<p>
  <strong>C type:</strong>
  <%= @card.c_type %>
</p>

<p>
  <strong>C order:</strong>
  <%= @card.c_order %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
